@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #6f0207;
    --azul-degrade: linear-gradient(97.54deg, #7e5827 35.49%, #d7c0a4 165.37%);
    --fonte-principal: "Alegreya SC";
    --azul: #173c60;
    --fonte-secundaria: "Cinzel";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
